TEST_DB=test			// Testing database name	
DB=cache 			// Production database name
ENVIRONMENT=dev			// Type of environment: dev | prod | test
NUMBER_OF_WORKERS=3
STOS_PORT=2137
STOS_HOST=127.0.0.1
LOGS_PATH=/home/stos/   // Path to logs storage
