TEST_DB=test			// Testing database name	
DB=cache 			// Production database name
ENVIRONMENT=dev			// Type of environment: dev | prod | test
STOS_PORT=2137
STOS_HOST=127.0.0.1
USE_CACHE=False
WORKER_CPU=1
WORKER_RAM=1
TOTAL_CPU=1
TOTAL_RAM=1Gi