TEST_DB=test			// Testing database name	
DB=cache 			// Production database name
ENVIRONMENT=dev			// Type of environment: dev | prod | test
STOS_PORT=2137
STOS_HOST=127.0.0.1
LOGS_PATH=/home/stos/   // Path to logs storage
LOG_FILE_SIZE=10485760  // Log file size in bytes
BACKUP_LOG_FILES=5      // Number of backup log files
USE_CACHE=False
WORKER_CPU=1
WORKER_RAM=1Gi
EXECUTOR_CPU=1
EXECUTOR_RAM=1Gi
