[Unit]
Description=STOS daemon managing code execution container instances
After=network.target

[Service]
Type=simple
Restart=always
User=stos
ExecStart=/usr/bin/stos-bootstrap
